@import 'variables';

.page-winners {
  display: flex;
}

.winners-table {
  border-collapse: collapse;

  .car-icon {
    width: 45px;
    height: 20px;
  }

  td, th {
    padding: 10px 15px;
    text-align: center;
    border: 1px solid $default-color;
  }

  th {
    background-color: $secondary-background-color;

    &[order="asc"] {
      position: relative;

      &::after {
        position: absolute;
        padding: 0 3px;
        content: '↑';
      }
    }

    &[order="desc"] {
      position: relative;

      &::after {
        position: absolute;
        padding: 0 3px;
        content: '↓';
      }
    }
  }
}

.order-button {
  cursor: pointer;
}
