@import './mixins';

$heading-color: #545454;

$color-light: #cdcdcd;
$menu-color-light-active: #fafafa;
$menu-color-black: #292929;
$menu-color-black-active: #545454;

$color-primary: #f1cdb3;

$section-color: #f6f6f6;

@include font-face(Georgia, '../../assets/fonts/Georgia');
@include font-face(Georgia, '../../assets/fonts/Georgia-Bold', bold);
@include font-face(Arial, '../../assets/fonts/ArialMT');
@include font-face(Arial, '../../assets/fonts/Arial-ItalicMT', normal, italic);

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

h1 {
  @include primary-font();
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: left;
}

h2 {
  @include primary-font();
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 0em;
  color: $heading-color;
}

h3 {
  @include primary-font();
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0em;
  color: $heading-color;
}

h4 {
  @include primary-font();
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

section:nth-child(odd):not(:first-child) {
  background-color: $section-color;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  margin: auto;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: auto;
  }
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  gap: 35px;
  list-style: none;

  .menu-item__link {
    text-decoration: none;
  }
}

.primary-button {
  @include primary-font();
  @include box(207px, 52px);
  background-color: #f1cdb3;
  border: none;
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    background-color: #fddcc4;
  }
}

.container {
  padding: 0 40px;
}

.footer {
  min-height: 350px;
  background: url('../../assets/images/noise_lines_transparent@2X.png'),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 40px 0 0;
    max-width: 1200px;
  }

  &__image {
    width: 100%;
    max-width: 300px;
  }

  .contacts {
    max-width: 278px;

    &__title {
      color: white;
      margin: 16px 0 0;
    }

    &__mail {
      margin: 40px 0 0;
    }

    &__phone {
      margin: 40px 0 0;
    }
  }

  .locations {
    max-width: 302px;

    &__title {
      color: white;
      margin: 16px 0 0;
      max-width: 270px;
    }

    &__adress {
      margin: 32px 0 0;
    }
  }

  .contact-information {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    color: $color-primary;
  }
}
