.control-panel {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .commands {
    display: inline-flex;
    gap: 5px;
  }
}

.car-editor {
  display: inline-flex;
  gap: 5px;

  input[disabled] {
    cursor: not-allowed;
  }
}
