.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;

  &__nav {
    display: inline-flex;
  }

  &__title {
    font-weight: bold;
  }
}

.nav-btn {
  background-size: contain;
  border: none;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  transition: transform .2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    opacity: 0.5;
    transform: scale(1);
  }
}

.menu__next {
  background-image: url('assets/svg/arrow_next.svg');
}

.menu__prev {
  background-image: url('assets/svg/arrow_prev.svg');
}
