@import "~normalize.css";

@import "./styles/variables";
@import "./styles/light-theme";
@import "./styles/dark-theme";

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: monospace;
}

.title {
  font-size: 4em;
  margin-bottom: 0;
}

.board {

  .board__inner {
    margin: 10px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  
  .button {
    width: 30%;
    cursor: pointer;
  }

  &__info {
    font-weight: bold;
    padding: 2px;
    min-width: 35px;
    text-align: center;
  }

}

.cells {
  width: fit-content;
  margin: 10px auto;
}

.line {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 5vw;
  max-width: 30px;
  max-height: 30px;
  font-size: 2em;
  font-weight: bold;
  
  &.opened {
    &[value="1"] {
      color: blue;
    }
  
    &[value="2"] {
      color: green;
    }
    
    &[value="3"] {
      color: red;
    }
    
    &[value="4"] {
      color: darkblue;
    }
    
    &[value="5"] {
      color: brown;
    }
    
    &[value="6"] {
      color: turquoise;
    }
    
    &[value="7"] {
      color: black;
    }
    
    &[value="8"] {
      color: white;
    }
  }
  
  &.flag {
    background-image: url('./assets/svg/flag.svg');
  }
  
  &.mine {
    background-image: url('./assets/svg/mine.svg');
  }
  
  &.bang {
    background-color: red;
  }
  
  &.mistake {
    background-image: url('./assets/svg/mistake.svg');
  }
}
