@import "~normalize.css";

@import "./styles/variables";
@import "./styles/light-theme";
@import "./styles/dark-theme";

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: monospace;
}

.title {
  font-size: 4em;
  margin-bottom: 0;
}

.board {
  min-width: 325px;

  .board__inner {
    margin: 10px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .button {
    width: 30%;
    height: fit-content;
    cursor: pointer;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 3px;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3px;
    }
  
    &__value {
      font-weight: bold;
      padding: 2px;
      min-width: 35px;
      text-align: center;
    }
  }
}

.cells {
  width: fit-content;
  margin: 10px auto;
}

.line {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 5vw;
  max-width: 30px;
  max-height: 30px;
  font-size: 2em;
  font-weight: bold;
  
  &.opened {
    &[value="1"] {
      color: blue;
    }
  
    &[value="2"] {
      color: green;
    }
    
    &[value="3"] {
      color: red;
    }
    
    &[value="4"] {
      color: darkblue;
    }
    
    &[value="5"] {
      color: brown;
    }
    
    &[value="6"] {
      color: turquoise;
    }
    
    &[value="7"] {
      color: black;
    }
    
    &[value="8"] {
      color: white;
    }
  }
  
  &.flag {
    background-image: url('./assets/svg/flag.svg');
  }
  
  &.mine {
    background-image: url('./assets/svg/mine.svg');
  }
  
  &.mistake {
    background-image: url('./assets/svg/mistake.svg');
  }
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &.hidden {
    display: none;
  }

  & > * {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 325px;

  &__table {
    display: grid;
    grid-template-columns: 20px auto repeat(2, 40px);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
  }

  &.hidden {
    display: none;
  }
}

.radio-button {
  display: flex;
}
