.html-editor {
  display: flex;
  width: 500px;
  height: 250px;

  .line-numbers {
    border-right: 1px solid #abb2bf;

    .line {
      text-align: right;
      padding: 0 5px;
    }
  }

  .line {
    margin: 5px 0;
  }
}

.html-viewer div {
  padding-left: 20px;
}

.html-viewer {
  width: 100%;
  height: 100%;

  .selected {
    text-shadow:0 0 10px #ffffff;
  }

  pre {
    margin: 0;
  }
}
