@import '~highlight.js/styles/atom-one-dark.css';
@import 'variables';

.html-editor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $html-editor-background-color;
  padding: 10px;
  width: 90%;
  max-width: 300px;

  .line-numbers {
    border-right: 1px solid $html-editor-lines-color;

    .line {
      text-align: right;
      padding: 0 5px;
    }
  }

  .line {
    margin: 5px 0;
  }
}

.selector {
  display: flex;

  &__input{
    width: 100%;
    height: 3rem;
    padding: 0 10px;
  }

  &__enter {
    cursor: pointer;
  }
}

.html-viewer {
  display: flex;
  width: 100%;
  height: 100%;

  .markup {
    width: 100%
  }

  .markup div {
    padding-left: 20px;
  }

  .hover {
    text-shadow:0 0 10px $glow-color;
  }

  pre {
    margin: 0;
  }
}

.html-editor_shake {
  animation: shake 0.5s forwards;
}

@keyframes shake {
  0% { transform: translate(0, 0) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
