.slider__next, .slider__prev {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.4s;
}
.slider__next:hover, .slider__prev:hover {
  background-color: #f1cdb3;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.slider__items {
  display: flex;
  gap: 90px;
}
.slider__item {
  background-color: #fafafa;
  border-radius: 9px;
}
.slider__image {
  border-radius: 9px 9px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: #C4C4C4;
  font-size: 20px;
  color: #545454;
  text-align: center;
  margin-top: 30px;
}
.slider__button {
  margin: 30px 0;
}
.slider__next {
  transform: rotate(-180deg);
}

.secondary-button, .primary-button {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: #C4C4C4;
  border: none;
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
  border: 2px solid #f1cdb3;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 15px 45px;
}
.secondary-button:hover, .primary-button:hover {
  border-color: #fddcc4;
}
.secondary-button::after, .primary-button::after {
  content: "";
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  background: #fddcc4;
  position: absolute;
  z-index: -1;
  display: block;
  transition: all 0.35s;
}
.secondary-button:hover::after, .primary-button:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.primary-button {
  background-color: #f1cdb3;
}

.secondary-button {
  background-color: transparent;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/ArialMT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial-ItalicMT.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: #C4C4C4;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: left;
}

h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: #C4C4C4;
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 0em;
  color: #545454;
}

h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: #C4C4C4;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0em;
  color: #545454;
}

h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: #C4C4C4;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

section:nth-child(odd):not(:first-child) {
  background-color: #f6f6f6;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  margin: auto;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  gap: 35px;
  list-style: none;
}
.menu__item {
  padding-bottom: 4px;
}
.menu__link {
  text-decoration: none;
  color: #cdcdcd;
}
.menu__link:hover {
  color: #fafafa;
}
.active .menu__link {
  color: #fafafa;
}
.menu .active {
  border-bottom: 3px solid #f1cdb3;
}

.container {
  padding: 0 40px;
}

.footer {
  min-height: 350px;
  background: url("../../assets/images/noise_lines_transparent@2X.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 40px 0 0;
  max-width: 1200px;
}
.footer__image {
  width: 100%;
  max-width: 300px;
}
.footer .contacts {
  max-width: 278px;
}
.footer .contacts__title {
  color: white;
  margin: 16px 0 0;
}
.footer .contacts__mail {
  margin: 40px 0 0;
}
.footer .contacts__phone {
  margin: 40px 0 0;
}
.footer .locations {
  max-width: 302px;
}
.footer .locations__title {
  color: white;
  margin: 16px 0 0;
  max-width: 270px;
}
.footer .locations__adress {
  margin: 32px 0 0;
}
.footer .contact-information {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  color: #f1cdb3;
}

.menu-item__link {
  color: #cdcdcd;
}
.menu-item__link:hover {
  color: #fafafa;
}

.logo__title {
  color: #f1cdb3;
}

.logo__subtitle {
  color: white;
  font-size: 13px;
  margin: 10px 0 0;
}

.not-only {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: url("../../assets/images/noise_lines_transparent@2X.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  min-height: 908px;
}
.not-only__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
}
.not-only__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 42px;
  max-width: 460px;
}
.not-only__title {
  font-size: 44px;
  color: white;
}
.not-only__subtitle {
  font-size: 15px;
  color: #cdcdcd;
}
.not-only__image {
  align-self: flex-end;
}

.about {
  min-height: 588px;
}
.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 80px 0 100px;
  max-width: 850px;
}
.about__content {
  max-width: 430px;
}
.about__image {
  width: 100%;
  max-width: 300px;
}

.our-friends {
  min-height: 877px;
}
.our-friends__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 80px 0 100px;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
}
.our-friends__title {
  text-align: center;
}

.help {
  min-height: 611px;
}
.help__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 100px;
  text-align: center;
}
.help__title {
  text-align: center;
}
.help__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 120px;
  max-width: 1029px;
  margin-top: 60px;
}
.help__text {
  text-align: center;
  color: #545454;
}

.donation {
  min-height: 462px;
}
.donation__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 80px 0 100px;
  max-width: 915px;
}
.donation__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 380px;
}
.donation__credit-card {
  display: inline-flex;
  gap: 15px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  background-color: #f1cdb3;
  border-radius: 9px;
}
.donation__card-number {
  color: #545454;
}
.donation__offer {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: #C4C4C4;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}
.donation__image {
  width: 100%;
  max-width: 505px;
}/*# sourceMappingURL=main.css.map */