#sources {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
    padding: 0.5em;
}

.source__item {
    background: none;
    border: 2px solid #1298ce;
    font: inherit;
    line-height: 1;
    margin: 0.2em;
    padding: 0.5em;
    color: #1298ce;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #ff0000;
    color: #ff0000;
    box-shadow: 0 0.5em 0.5em -0.4em #ff0000;
    transform: translateY(-0.10em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
