$default-background-color: #0e1220;
$secondary-background-color: #394466;
$default-color: #ffffff;
$secondary-color: #6a82ce;
$disable-background-color: #808080;

$light-on: #00ff00;
$light-off: #2e2e2e;
