@import '~normalize.css';
@import 'variables';

* {
  box-sizing: border-box;
}

body {
  color: $default-color;
  background-color: $default-background-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-family: arial, sans-serif;
}

.nav {
  display: inline-flex;
  gap: 5px;
  font-size: 1.3rem;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__title {
    font-size: 1.5rem;
  }
}

.btn {
  color: $default-color;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $secondary-background-color;
  border: none;
  border: 1px solid $default-color;
  border-radius: 1em;
  transition: all 0.05s;

  &:hover {
    color: $secondary-color;
    border: 1px solid $secondary-color;
  }

  &:active:not([disabled]) {
    transform: scale(0.95);
  }

  &[disabled] {
    color: $default-color;
    cursor: not-allowed;
    background-color: $disable-background-color;
    border: 1px solid $default-color;
  }
}

.car-icon {
  display: inline-block;
  background: $default-color;
  -webkit-mask-image: url('assets/svg/car.svg');
  mask-image: url('assets/svg/car.svg');
  -webkit-mask-size: cover;
  mask-size: cover;
}
