@import 'variables';

.help-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-transform: uppercase;
  box-shadow: 3px -3px $help-button-shadow-color, 2px -2px $help-button-shadow-color, 1px -1px $help-button-shadow-color;
  border: 1px solid $help-button-color;
  background-color: $help-button-color;
  color: $secondary-text-color;
  cursor: pointer;
  transition: transform 100ms ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }

  @media (min-width: 800px) {
    position: absolute;
    right: 50px;
    bottom: 10px;
    width: 75px;
    height: 75px;
  }
}