.help-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #333;
  text-transform: uppercase;
  box-shadow: 3px -3px #760303, 2px -2px #760303, 1px -1px #760303;
  border: 1px solid #a31818;
  background-color: #a31818;
  color: white;
  cursor: pointer;
  transition: transform 100ms ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }

  @media (min-width: 800px) {
    position: absolute;
    right: 50px;
    bottom: 10px;
    width: 75px;
    height: 75px;
  }
}