// Color theme
$primary-text-color: #000000;
$secondary-text-color: #ffffff;

$main-background-color: #3d6024;
$primary-sidebar-background-color: #cbdfd0;
$secondary-sidebar-background-color: #b3d5b8;
$tooltip-background-color: #000000;

$curent-level-color: #ff0000;

$glow-color: #ffffff;

$help-button-color: #a31818;
$help-button-shadow-color: #760303;

$html-editor-background-color: #000000;
$html-editor-lines-color: #abb2bf;

$selector-background-color: #9ab481;
$selector-border-color: #7d9666;

// Breakpoints
$layout-breakpoint-large: 1024px;
$layout-breakpoint-medium: 991px;
$layout-breakpoint-small: 800px;