@import '~normalize.css';

* {
  box-sizing: border-box;
}

html {
  font-family: monospace;
}

.wrapper {
  display: grid;
  grid-template-areas:
    'header sidebar'
    'main sidebar'
    'footer sidebar';
  grid-template-rows: 40px auto 40px;
  grid-template-columns: auto 20%;
  height: 100vh;

  .header {
    grid-area: header;
  }
  
  .footer {
    grid-area: footer;
  }
  
  .main {
    grid-area: main;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

  .tooltiptext {
    position: absolute;
    z-index: 1;
    top: -50px;
    left: 50%;
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 5px;
  }

  .hover {
    position: relative;
  }

  .hover > .tooltiptext {
    visibility: visible;
  }

  .task {
    font-size: 4rem;
    text-align: center;
  }
}
