@import 'variables';

@mixin background-img($img) {
  background-image: url($img);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  @include background-img('assets/images/table.png');
  width: 50vw;
  padding-bottom: 10vw;
  padding-left: 20px;
  padding-right: 20px;
}

basket {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  @include background-img('assets/images/basket.png');
  width: 15vw;
  height: 10vw;
  padding-bottom: 4vw;
  margin-bottom: -1vw;
}

pepper {
  @include background-img('assets/images/pepper.png');
  width: 120px;
  height: 107px;

  &.small {
    width: 40px;
  }

  &#chili {
    background-image: url('assets/images/chili.png');
    width: 70px;
  }
}

eggplant {
  @include background-img('assets/images/eggplant.png');
  width: 120px;
  height: 107px;
}

carrot {
  @include background-img('assets/images/carrot.png');
  width: 120px;
  height: 107px;
}

cucumber {
  @include background-img('assets/images/cucumber.png');
  width: 120px;
  height: 107px;

  &.small {
    width: 60px;
  }
}

.bounce {
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  70%,
  90%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-8px);
  }

  80% {
    transform: translateY(-4px);
  }
}

.table-wrapper .hover {
  filter: drop-shadow(0 0 5px $glow-color);
}
