%dark-convex-element {
  border-top-color: $highlight;
  border-left-color: $highlight;
  border-bottom-color: $dark-shadow;
  border-right-color: $dark-shadow;
}

%dark-concave-element {
  border-top-color: $dark-shadow;
  border-left-color: $dark-shadow;
  border-bottom-color: $highlight;
  border-right-color: $highlight;      
}

.body.theme-dark {
  background-color: $dark-background-color;
  color: $dark-text-color;

  .board {
    background-color: $dark-cell-background-color;
  }

  .menu {
    @extend %dark-concave-element;

    .button {
      @extend %dark-convex-element;
      color: $dark-text-color;
      background-color: $dark-cell-background-color;

      &:active {
        @extend %dark-concave-element;
      }
    }

    .info__value {
      @extend %dark-concave-element;
      color: $info-text-color;
      background-color: $info-background-color;
    }
  }

  .cells {
    border-right-color: $dark-shadow;
    border-bottom-color: $dark-shadow;

    .cell {
      background-color: $dark-cell-background-color;
  
      &.closed {
        @extend %dark-convex-element;
      }
  
      &.opened {
        border-left-color: $dark-shadow;
        border-top-color: $dark-shadow;
      }

      &.bang {
        background-color: red;
      }
    }
  }
}