%convex-element {
  border-top-color: $highlight;
  border-left-color: $highlight;
  border-bottom-color: $shadow;
  border-right-color: $shadow; 
}

%concave-element {
  border-top-color: $shadow;
  border-left-color: $shadow;
  border-bottom-color: $highlight;
  border-right-color: $highlight;  
}

.body.theme-light {
  background-color: $background-color;
  color: $text-color;

  .board {
    background-color: $cell-background-color;
  }

  .menu {
    @extend %concave-element;
    
    .button {
      @extend %convex-element;
      color: $text-color;
      background-color: $cell-background-color;

      &:active {
        @extend %concave-element;
      }
    }

    .info__value {
      @extend %concave-element;
      color: $info-text-color;
      background-color: $info-background-color;
    }
  }

  .cells {
    border-right-color: $shadow;
    border-bottom-color: $shadow;

    .cell {
      background-color: $cell-background-color;
  
      &.closed {
        @extend %convex-element;
      }
  
      &.opened {
        border-left-color: $shadow;
        border-top-color: $shadow;
      }

      &.bang {
        background-color: red;
      }
    }
  }
}