$text-color: #000000;
$dark-text-color: #fff;

$background-color: #fff;
$dark-background-color: #242424;

$cell-background-color: #bdbdbd;
$dark-cell-background-color: #646464;

$highlight: #fff;
$shadow: #7b7b7b;

$dark-shadow: #454545;

$info-text-color: #25fe15;
$info-background-color: #333;