.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.logo {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.rss-logo {
  width: 60px;
}

.github {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}

.github-logo {
  width: 30px;
}
